.header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  transition: opacity 0.2s;
}

.header__link:hover {
  opacity: 0.6;
}

/* 568px */
@media (max-width: 568px) {
  .header__link {
    font-size: 14px;
    line-height: 17px;
  }
}