.profile__avatar-image {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

/* 768px */
@media (max-width: 768px) {
  .profile__avatar-image {
    margin-bottom: 29px;
  }
}