.popup__submit-button {
  width: 100%;
  height: 50px;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  border: none;
  border-radius: 2px;
  transition: opacity 0.2s;
  cursor: pointer;
}

/* 568px */
@media (max-width: 568px) {
  .popup__submit-button {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__submit-button:hover {
  opacity: 0.8;
}
