.popup__form {
  width: 430px;
  padding: 34px 36px 37px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

/* 568px */
@media (max-width: 568px) {
  .popup__form {
    width: 282px;
    padding: 25px 22px;
  }
}
