.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 880px;
  margin: 0 auto;
  padding-top: calc((100vw - 425px) / (1280 - 425) * (45 - 28) + 28px);
  padding-bottom: calc((100vw - 425px) / (1280 - 425) * (40 - 32) + 32px);
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

/* 900px */
@media (max-width: 900px) {
  .header {
    padding-left: 27px;
    padding-right: 30px;
  }
}

/* 425px */
@media (max-width: 425px) {
  .header {
    padding-top: 28px;
    padding-bottom: 27px;
  }
}
